:root {
  --navbarBackground: black;
  --headerBackground: #191919;/*linear-gradient(135deg, #1a1a1a, #2e2e2e 30%, #0f0f0f 60%, #1c1c1c);*/
  --mainBackground: #323232;
  --footerBackground: darkslategray;
  --textColor: white;
  --font: 'Boogaloo';
}

html {
  font-size: 18px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--mainBackground);
  color: var(--textColor);
  line-height: 1.6;
  overflow-x: hidden;
  overscroll-behavior: none;
  margin-top: 50px;
}

* {
  font-family: var(--font);
}

a {
  color: #6c63ff;
  cursor: pointer;
}

h1 {
  font-size: 4rem; 
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

header {
  background: var(--headerBackground);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  justify-content: space-between;
  padding: 20px;
  background: var(--mainBackground);
  scroll-margin-top: 50px;
}

footer {
  background: var(--footerBackground);
  display: flex;
  flex-direction: row;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 25px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: var(--navbarBackground);
  z-index: 100;
  border-bottom: solid 1px grey;
}

#header-stuff-container {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--textColor);
  height: 100%;
  background: var(--navbarBackground);
  border-left: solid 0.5px grey;
  border-right: solid 0.5px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-link:nth-last-child(2) {
  border-right: solid 1px grey;
  margin-right: 20px;
}
.nav-link:hover {
  background: grey;
}

.project-button {
  color: white;
  transition: transform 0.5s, box-shadow 0.5s;
  position: relative;
  box-shadow: 0px 0px 0px 0px #ffffff40;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #000000/*#C10009*/;
  border: 0.01px solid #ffffff30;
  align-items: center;
}
.project-button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 5px 15px 0.5px rgba(255, 255, 255, 0.25);
}
.project-button:active {
  transform: translateY(0);
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.github-project-icon {
  display: inline;
}

.project-buttons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  margin-top: auto;
}

.project-button-link {
  flex: 1;
}

#projects {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  height: 52px;
}

#social-links {
  display: flex;
  width: fit-content;
  justify-content: right;
  gap: 25px;
  align-items: bottom; 
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 25px;
  margin-left: auto;
  height: 52px;
}

.profile-link {
  font-size: 2rem;
  transition: 0.3s linear;
  color: white;
  text-decoration: none;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: top;
  transition: box-shadow 0.5s ease;
  background: #0D0A09;
  border: solid 1px #ffffff55;
  width: 400px;
  padding: 32px;
  margin: 36px;
}
.project:hover {
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}
.project-image {
  width: 100%;
}

.project-seperator {
display: none;
}

.icon {
  opacity: 50%;
  transition: 0.25s;
  position: relative;
  color: var(--textColor);
}

.icon:hover {
  opacity: 100%
}

.project-desc {
  margin-top: 10px;
  margin-bottom: 15px;
}

.accountsHeading {
  padding-top: 40px
}
.projectsLink {
  text-decoration: none;
  color: white;
  text-align: center;
}
.projectsLink:hover {
  text-decoration: none;
  color: white;
}


#scrollDown {
  position: absolute;
  bottom: 0;
  text-align: center;
  justify-self: center;
  width: 100%;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-radius: 50% 50% 0 0;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7.5px;
  width: auto;
  background: linear-gradient(180deg,rgba(25, 25, 25, 1) 0%, rgba(50, 50, 50, 1) 100%);
  cursor: pointer;
}

.scrollDownParagraph {
  text-align: center;
  font-size: 1.5rem;
}

.textDecorNone {
  text-decoration: none;
}

@media (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }
  #projects {
    flex-direction: column;
  }
  .project {
    background: none;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
  .project:hover {
    box-shadow: none;
  }

  .project-seperator {
    display: block;
    margin-left: -20px;
    margin-right: -20px;
  }

  #projects-info {
    margin-top: 32px;
  }

  footer {
    flex-direction: column-reverse;
    align-items: center;
  }
  #social-links {
    padding: 10px;
    margin: 0;
  }
  #footer-text {
    margin: 0;
    text-align: center;
  }
}
