/* Reset and general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#body123.body123 {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #ffffff;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

#main1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

main section {
  flex: 1;
  margin-right: 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100%;
  background-color: #111;
  padding-top: 20px;
  transition: left 0.3s ease-in-out; /* This will make the sidebar slide in and out smoothly */
  overflow: auto;
  z-index: 500;
}

#sidebar.open {
  left: 0;
}

#sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

#sidebar nav ul li {
  margin-bottom: 10px;
}

#search {
  margin-top: 20px;
}

#googleSearchBarAndInput {
  margin-bottom: 10px;
  margin-top: 20px;
}

#google_side {
  width: 65%;
  padding: 8px;
  border: none;
  background-color: #444;
  color: #fff;
  margin-bottom: 10px;
  float: left;
  height: 40px;
}

#searchEngine {
  width: 100%;
  height: 30px;
  background: #444;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

#search-results {
  list-style-type: none;
  padding: 0;
}

#search-results li {
  padding: 8px;
  background-color: #555;
  margin-bottom: 5px;
}

#sidebar-toggle {
  position: fixed;
  background-color: #11111100;
  color: #fff;
  border: none;
  cursor: pointer;
  top: -10px;
  left: 5px;
  transition: left 0.3s ease-in-out;
  z-index: 9000;
  font-size: 40px;
  display: block !important;
  visibility: visible !important;
}
#sidebar-toggle.sidebar-toggle-close {
  left: 275px;
  transition: left 0.3s ease-in-out;
}

#x_button {
  float: right;
  margin-bottom: 0px;
  background-color: #ff0000;
  color: #000;
  padding: 5px 19px;
  border: none;
  cursor: pointer;
  font-size: 23px;
}

/* Style the submit button */
#googlebutton1 {
  padding: 10px 20px;
  background-color: #4285f4; /* Google blue */
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#googleenter {
  padding: 6px 10px;
  background-color: #4285f4; /* Google blue */
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
  float: right;
  height: 40px;
}

#Myswordlogo1234 {
  float: left !important;
  margin-top: 5px; /* Adjust as needed */
  margin-bottom: 5px; /* Adjust as needed */
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
  background-color: #357ae8; /* Darker shade of Google blue */
}

#googlegoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px; /* Adjust as needed */
  margin-bottom: 30px; /* Adjust as needed */
}

/* Style the input field */
#googlesearch1 {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px; /* Adjust as needed */
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #222 !important;
  color: #ffffff !important;
}

body.dark-mode .sidebar {
  background-color: #111 !important;
  color: #ffffff !important;
}

body.dark-mode .header {
  background-color: #333 !important;
  color: #ffffff !important;
}

body.dark-mode .credits {
  color: #ffffff !important;
}

body.dark-mode #sidebar-toggle {
  color: #fff;
}
body.dark-mode .menu-button .line {
  background: #fff;
}

/* Light Mode Styles */
body.light-mode {
  background-color: #ffffff !important;
  color: #000000 !important;
}


body.light-mode .sidebar {
  /* background: grey !important; */
  color: #ffffff !important;
} 

body.light-mode .header {
  background-color: #f4f4f4 !important;
  color: #000000 !important;
}

body.light-mode .credits {
  color: #000000 !important;
}

body.light-mode #sidebar-toggle {
  color: #000000;
}
body.light-mode #about {
  color: white;
}

body.light-mode #projects {
  background: white;
  color: black;
}

body.light-mode #about {
  background: white;
  color: black;
}

body.light-mode .project-tile {
  background: white;
  color: black;
  box-shadow: 0 0 10px 5px gray;
}
body.light-mode #welcome-section {
  background: #f4f4f4;
  color: black;
}
body.light-mode .greeting {
  color: black;
  background: #f4f4f4;
}
body.light-mode #main2 {
  background: white;
  color: black;
}
body.light-mode #navBar2 {
  background: #f4f4f4;
}
body.light-mode #navbar2 {
  background: #f4f4f4;
}
body.light-mode #footer {
  background: #f4f4f4;
}
body.light-mode #about {
  background: white;
  color: black;
}
body.light-mode #contact {
  background: #f4f4f4;
  color: black;
}
body.light-mode .profile-link {
  background: #f4f4f4;
  color: black;
}
body.light-mode #aboutMeSection1 {
  background: white;
  color: black;
}
body.light-mode .menu-button .line {
  background: black;
}


#mode-toggle {
  background-color: #222;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
  margin: auto;
  border: none;
  cursor: pointer;
  display: block !important;
}

.soundbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #222;
  color: #fff;
  border: none;
  padding: 3px 6px;
  float: right;
}


#MainSection1 {
  height: 100vh;
}


#credits {
  bottom: 5px;
}

#shortcutUrl {
  background-color: #444;
  color: #fff;
}

#shortcutName {
  background-color: #444;
  color: #fff;
}

#inputShortcutData {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 3px 6px;
}

.deleteButton {
  float: right !important;
  background-color: #222;
  color: #fff;
  border: none;
  padding: 3px 6px;
}

#myGitHub {
  text-align: center;
}


#navBar2 {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100vw;
  background: darkslategrey;
  z-index: 100;
  align-items: center;
  justify-content: right;
}
.nav-link {
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
.nav-link:first-of-type {
  margin-left: 20%;
}
.nav-link:hover {
  background: grey;
}
#navbar2 {
  width: auto;
  display: flex;
  justify-content: right;

}


#welcome-section {
  display: flex;
  height: 100vh;
  background: darkslategrey;
  color: white;
  align-items: center;
  justify-content: center;
}
#main2 {
  background: black;
  min-height: 100px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.greeting {
  font-family: sans-serif;
  font-size: 6rem; 
  /* 
  rem is relative to the root font-size and em is relative to the parent elements font size. 1rem is equal to root font size times 1. So 2rem would be: root font size * 2. And 2em would be parent font-size * 2.
  */
  text-align: center;
  margin-top: 20px
}




@media (max-width: 744px) {
  .greeting {
    font-size: 5.8rem
  }
}
@media (max-width: 700px) {
  .greeting {
    font-size: 5.5rem;
  }
}
@media (max-width: 650px) {
  .greeting {
    font-size: 5rem;
  }
}
@media (max-width: 570px) {
  .greeting {
    font-size: 4.5rem;
  }
}
@media (max-width: 520px) {
  .greeting {
    font-size: 4rem;
  }
}
@media (max-width: 460px) {
  .greeting {
    font-size: 3.5rem;
  }
}
@media (max-width: 410px) {
  .greeting {
    font-size: 3rem;
  }
}
#projects {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#about {
  background: black;
  margin-top: 0;
}
.project-tile {
  background: black;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 5px 10px white;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  transition: 0.2s linear;
  color: white;
  text-decoration: none;
}
.project-tile:hover {
  animation: enlarge-projects linear 0.2s;
  height: 400px;
  width: 400px;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
@keyframes enlarge-projects {
  0% {
    height: 300px;
    width: 300px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  100% {
    height: 400px;
    width: 400px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
}
footer {
  background: darkslategrey;
}
#contact {
  background: darkslategrey;
  min-height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@keyframes enlargeText {
  0% {
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  100% {
    font-size: 3rem;
    color: white;
    text-decoration: none;
  }
}
.profile-link {
  font-size: 2rem;
  transition: 0.3s linear;
  color: white;
  text-decoration: none;
}

.profile-link:hover {
  animation: enlargeText linear 0.3s;
  font-size: 3rem;
}
.project-img {
  width: 100%;
  height: 70%;
  align-self: flex-start;
  justify-self: center;
}
.projects-desc {
  width: 100%;
  height: 30%;
  background: darkslategrey;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.accountsHeading {
  padding-top: 40px
}
.projectsLink {
  text-decoration: none;
  color: white;
  text-align: center;
}
.projectsLink:hover {
  text-decoration: none;
  color: white;
}
#about {
  margin: auto; /* Center the content horizontally */
  width: 70%; 
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  #about {
    width: 95%;
  }
}


#aboutMeSection1 {
  position: absolute;
  top: 100vh;
  background: black;
}


.scrollDown {
  position: absolute;
  bottom: 15px;
  text-align: center;
  justify-self: center;
  width: 100%;
  animation: hideAndUnhide 2s infinite;
}

.scrollDownParagraph {
  text-align: center;
  font-size: 1.5rem;
}

@keyframes hideAndUnhide {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}

.textDecorNone {
  text-decoration: none;
}


/* Button animation */
.menu-button {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 5px;
  transition: left 0.3s ease-in-out;
}
#menu-button.sidebar-toggle-close {
  left: 275px;
  transition: left 0.3s ease-in-out;
}

/* Lines */
.menu-button .line {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Open state */
.menu-button.openButton {
  left: 275px;
  transition: left 0.3s ease-in-out;
}

.menu-button.openButton .line:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
}

.menu-button.openButton .line:nth-child(2) {
  opacity: 0;
}

.menu-button.openButton .line:nth-child(3) {
  transform: translateY(-9.5px) rotate(-45deg);
}
