:root {
  --navbarBackground: black;
  --headerBackground: #191919;/*linear-gradient(135deg, #1a1a1a, #2e2e2e 30%, #0f0f0f 60%, #1c1c1c);*/
  --mainBackground: #323232;
  --footerBackground: darkslategray;
  --textColor: white;
  --font: 'Boogaloo';
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--mainBackground);
  color: var(--textColor);
  line-height: 1.6;
  overflow-x: hidden;
  overscroll-behavior: none;
}

* {
  font-family: var(--font);
}

a {
  color: #6c63ff;
  cursor: pointer;
}

h1 {
  font-size: 6rem; 
  text-align: center;
}

h2 {
  font-size: 3rem;
}

header {
  background: var(--headerBackground);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  justify-content: space-between;
  padding: 20px;
  background: var(--mainBackground);
}

footer {
  background: var(--footerBackground);
  display: flex;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 25px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: var(--navbarBackground);
  z-index: 100;
  border-bottom: solid 1px grey;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100%;
  background-color: #111;
  padding-top: 20px;
  transition: left 0.3s ease-in-out; /* This will make the sidebar slide in and out smoothly */
  overflow: auto;
  z-index: 500;
}

#sidebar.open {
  left: 0;
}

#sidebar-toggle {
  position: fixed;
  background-color: #11111100;
  color: #fff;
  border: none;
  cursor: pointer;
  top: -10px;
  left: 5px;
  transition: left 0.3s ease-in-out;
  z-index: 9000;
  font-size: 40px;
  display: block !important;
  visibility: visible !important;
}
#sidebar-toggle.sidebar-toggle-close {
  left: 275px;
  transition: left 0.3s ease-in-out;
}

.hide {
  display: none;
}

.nav-link {
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--textColor);
  height: 100%;
  background: var(--navbarBackground);
  border-left: solid 0.5px grey;
  border-right: solid 0.5px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-link:nth-last-child(2) {
  border-right: solid 1px grey;
  margin-right: 20px;
}
.nav-link:hover {
  background: grey;
}

.project-button {
  color: white;
  transition: transform 0.5s, box-shadow 0.5s;
  position: relative;
  box-shadow: 0px 0px 0px 0px #ffffff40;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #000000/*#C10009*/;
  border: 0.01px solid #ffffff30;
}
.project-button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 5px 15px 0.5px rgba(255, 255, 255, 0.25);
}
.project-button:active {
  transform: translateY(0);
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.github-project-icon {
  display: inline;
}

.project-buttons-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  margin-top: auto;
}

.project-button-link {
  flex: 1;
}

#projects {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about {
  background: black;
}

#footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  height: 52px;
}

#social-links {
  display: flex;
  width: fit-content;
  justify-content: right;
  gap: 25px;
  align-items: bottom; 
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 25px;
  margin-left: auto;
  height: 52px;
}

.profile-link {
  font-size: 2rem;
  transition: 0.3s linear;
  color: white;
  text-decoration: none;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: top;
  transition: box-shadow 0.5s ease;
  background: #0D0A09;
  border: solid 1px #ffffff55;
  width: 400px;
  padding: 32px;
}
.project:hover {
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}
.project-image {
  width: 100%;
}

.icon {
  opacity: 50%;
  transition: 0.25s;
  position: relative;
  color: var(--textColor);
}

.icon:hover {
  opacity: 100%
}

.accountsHeading {
  padding-top: 40px
}
.projectsLink {
  text-decoration: none;
  color: white;
  text-align: center;
}
.projectsLink:hover {
  text-decoration: none;
  color: white;
}
#about {
  margin: auto; /* Center the content horizontally */
  width: 70%; 
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  #about {
    width: 95%;
  }
}


#aboutMeSection1 {
  position: absolute;
  top: 100vh;
  background: black;
}


.scrollDown {
  position: absolute;
  bottom: 15px;
  text-align: center;
  justify-self: center;
  width: 100%;
  animation: hideAndUnhide 2s infinite;
}

.scrollDownParagraph {
  text-align: center;
  font-size: 1.5rem;
}

@keyframes hideAndUnhide {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}

.textDecorNone {
  text-decoration: none;
}

@media (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }
  #projects {
    flex-direction: column;
  }
  .project {
    background: none;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
  .project:hover {
    box-shadow: none;
  }
}